<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <title>Face Emotion Recognition</title>
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<center>
   <nav class="navbar navbar-dark bg-dark ">
   
   
      <h1<font color="red" class="entry-title" style="text-align: center;" >Распознавание эмоций с Deep learning</h1>
	 
   </nav>
    </center>
<h1 class="entry-title" style="text-align: center;"><img style="font-size: 16px; font-family: -webkit-standard;" src="/static/detect.png" alt="" width="512" height="128" /></h1>
</head>

  


{%extends "base.html"%}

{%block content%}
<body>
<center>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
   

<div class="container mt-5">
  
  <form name='frm' method='POST' action="{{url_for('predict')}}" enctype='multipart/form-data'>
    
    <div class="form-group">

      	<div class="custom-file my-3">
    		<input type="file" name="select_file">
		</div>

    </div>
    
    <input type="submit" name="btn" class='btn btn-primary'>
	<p>
	
  </form>
</div>
</center>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Scripts -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}"
></script>
<p>
<footer>
	<nav class="navbar navbar-dark bg-dark ">
   <center>
      <h5 font color="white" class="entry-title" style="text-align: center;">&#169; Александр Коротких - 2022 Tessaract.co</h5>
	  </center>
   </nav>
</footer>
{{ super() }}
{% endblock %}