<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

  


{%extends "base.html"%}

{%block content%}
<body>
<center>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
   

<div class="container mt-5">
  
  <form name='frm' method='POST' action="{{url_for('predict')}}" enctype='multipart/form-data'>
    
    <div class="form-group">

      	<div class="custom-file my-3">
    		<input type="file" name="select_file">
		</div>

    </div>
    
    <input type="submit" name="btn" class='btn btn-primary'>
	<p>
	
  </form>
</div>
</center>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Scripts -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}"
></script>
<p>
<footer>

</footer>
{{ super() }}
{% endblock %}
